.about_hero_title_block {
    padding-top: 61px;
}

.about_hero_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 209%;
    color: #848484;
}

.about_hero_text_orange {
    color: #e47500;
}

.about_hero_title {
    width: 299px;
    padding-top: 12px;
    font-weight: 700;
    font-size: 21px;
    line-height: 180%;
    color: #222;
}

.about_hero_main_text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    line-height: 209%;
    color: #525252;
}

.about_hero_button {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
    border-radius: 40px;
    padding: 10px 57px 16px 19px;
    margin-top: 37px;
}